# Created by .ignore support plugin (hsz.mobi)
### Windows template
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
*.iml
*.idea/
.idea/eslintPlugin.xml
.idea/jsLinters/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
primefunction.iml
